.banner {
    height: 20rem;
    width: 100%;
}

.bannerCover {
    margin-top: 2rem;
}

.heading {
    color: #192F60;
}

.order_button {
    float: right;
    margin: -16px 20px 0px 0px;
}

.tabs {
    min-height: 200px;
    position: relative;
    background: white;
    margin: 50px 0px 30px 5px;
    clear: both;
}

.tab {
    float: left;
}

.tab label {
    margin-left: 10px;
    position: relative;
    left: 8px;
    top: -22px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    left: 0;
    border-top: 2px solid #D2D9E6;
    top: 3px;
    right: 0;
    bottom: 0;
    padding: 22px;
    opacity: 0;
}

.tabs [type=radio]:checked~label {
    background: white;
    z-index: 0;
    border-bottom: 3px solid red;
}

.tabs [type=radio]:checked~label~.content {
    z-index: 0;
    opacity: 1;
}

.about {
    font-size: 18px;
    font-weight: 900;
    color: #192F60;
    height: 50px;
}

.head {
    font-size: 15px;
    font-weight: 900;
    color: #192F60;
    height: 20px;
}

.value {
    font-size: 15px;
    color: #192F60;
    height: 40px;
}

.value-red {
    font-size: 15px;
    color: red;
    height: 40px;
    margin-top: -20px;
}

.gallery_button {
    float: right;
    position: relative;
    top: -55px;
    right: 35px;
    color: #192F60;
    background-color: #ffffffb8;
    border: none;
    padding: 5px;
    width: 15em;
    font-weight: 700;
}

.gallery_img {
    height: 28em;
}

.close{
    float: right;
    font-weight: 800;
}

.menu {
    width: 27em;
    margin-top: 2em;
    border-bottom: 1px solid #C7C7C7;
    /* margin-left: 33px; */
}

.menu_body {
    display: inline-block;
    width: 20em;
    vertical-align: top;
}

.menu_image {
    display: inline-block;
    /* width: 8em; */
    margin-left: 30px;
    /* margin-right: 30px; */
}

.font_weight {
    font-weight: 800;
}

.item_details {
    font-size: 12px;
    color: #696B78;
}

.item_image {
    height: 5em;
    width: 5em;
    /* display: inline-block; */
    /* margin-top: -87px; */
    margin-left: -5px;
    border-radius: 7px;
}

.item_quantity_button {
    position: relative;
    top: -0.7rem;
    /* right: -3.2em; */
    background-color: #fff;
    text-align: center;
    width: 71px;
    color: #61B246;
}

.qty {
    background-color: #fff;
    margin: 0 6px 0 6px;
}

.total {
    display: inline-block;
    margin: 15px 0px 0px 17px;
}

.payment_button {
    margin: 8px 8px 0 0;
    width: 8em;
    float: right;
}

.payment {
    background-color: #F5F8FF;
    width: 109%;
    margin-left: -19px;
    height: 4em;
    margin-bottom: -20px;
}

button {
    border: none;
}