body {
    font-family: 'Poppins';
    background-color: #FBFBFB;
}

.circle {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logo {
    font-size: 30px;
    text-align: center;
    padding: 0px;
    font-weight: bold;
}

.nav-form {
    padding-top: 13px;
}

.filter-heading {
    color: #192F60;
    font-weight: bold;
}

.filter-subheading {
    color: #192F60;
}

.filter-content {
    color: #8C96AB;
    font-size: 14px;
}

.filter-box {
    display: inline-block;
    width: 220px;
    box-shadow: 2px 4px 8px #cecdcd;
    padding: 10px 25px 0px 25px;
    background-color: #fff;
}

.result-box {
    display: inline-block;
    width: 70%;
    margin-left: 30px;
    vertical-align: top;
}

.results {
    height: 230px;
    background-color: #fff;
    box-shadow: 2px 4px 8px #cecdcd;
    margin-bottom: 20px;
    padding: 20px 40px;
}

.selectLocation {
    font-size: 12px;
    color: #636F88;
    border-radius: inherit;
}

.lt-box {
    height: 100px;
    width: 100px;
}

.rt-box {
    padding: 6px 60px;
}

.ll-box {
    padding: 05px 5px;
}

.rl-box {
    padding: 05px 35px;
}

.img-qs {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.result-heading {
    font-weight: bold;
    color: #192F60;
}

.result-subheading {
    font-weight: bold;
    columns: #192F60;
    margin-bottom: 0px;
}

.result-text {
    color: #636F88;
    margin-bottom: 0px;
}

.result-text-blue {
    color: #192F60;
    margin-bottom: 0px;
}