body {
    font-family: 'Poppins';
    background-color: #FBFBFB;
}

/* Banner CSS */

.bg-cover {
    background-image: 
        linear-gradient(to bottom, rgba(157, 14, 14, 0) 2%, rgba(79, 7, 7, 0.8) 100%),
        url("../../public/images/cover.png");
    width: 100%;
    height: 400px;
    background-position: center;
  }

.circle {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.logo {
    font-size: 60px;
    text-align: center;
    padding: 12px;
    font-weight: bold;
}

.line {
    font-weight: bold;
}

.input1 {
    border-radius: inherit;
    font-size: 12px;
    color: #636F88;
}

.selectbar {
    max-width: 18%;
}

.input2 {
    border-radius: inherit;
    font-size: 12px;
    color: #636F88;
    background-color: #fff;
    border-color: #fff;
}

.searchbar {
    max-width: 33%;
}

/* Quick Searches CSS */

.heading {
    font-weight: bolder;
    color: #192F60;
}

.subheading {
    color: #8C96AB;
    font-size: 16px;
}

.img-qs {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.box {
    margin-right: 40px;
    box-shadow: 2px 4px 3px #cecdcd;
}

.l-box {
    height: 151px; 
    width: 150px;
}

.r-box {
    height: 140px; 
    width: 180px;
    padding: 22px 22px;
}

.card-title {
    font-size: 20px;
    color: #192F60;
    font-weight: bold;
}

.card-content {
    color: #8C96AB;
    font-size: 12px;
    padding-top: 10px;
}

/* Suggestion Box */

.suggestionBox {
    background-color: white;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 37px 12px 0px 0px;
    width: 22rem;
}

.suggList {
    list-style-type: none;
    
}

.suggImg {
    height: 55px;
    border-radius: 50%;
    width: 55px;
    display: initial;
    margin: 6px 5px 6px -26px;
}

.suggName {
    color: #192F60;
    font-size: 11px;
    font-weight: 800;
}

.suggLoc {
    color: #192F60;
    font-size: 10px;
    display: block;
    margin: -25px 0px 8px 37px;
}